.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #343a40;

  &__logo {
    height: 20px;
  }

  &__nav {
    margin-left: auto;
  }

  &__nav-list {
    display: flex;
    align-items: center;
  }

  &__nav-link {
    padding: .5em;
    color: #fff;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: rgba(255, 255, 255, .75);
      }
    }

    &.active {
      color: #007bff;
    }
  }
}
