*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color .2s, background-color .2s;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
