.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__info {
    max-width: 600px;
    padding: 2rem;
    text-align: center;
  }

  &__title {
    margin-bottom: .5em;
  }
}
